<div class="contMain">
    {% include 'slider.tmpl' %}
    <section class="aboutShop" id="aboutshope">
        <span id></span>
        <h1>Привествуем в нашем интернет магазине!</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero animi repellat minima expedita repellendus!
            Eveniet, accusamus rerum. Blanditiis neque voluptatibus reiciendis iste, optio, nulla id accusamus, fugit
            error
            ullam placeat minus sit eius saepe sequi? Nobis, impedit dignissimos consequatur corrupti, non fuga quia et,
            quidem repellat eaque suscipit labore sunt. Repudiandae necessitatibus nam inventore dolorem? Alias,
            aspernatur
            non quasi harum odio laudantium quisquam nesciunt doloribus at placeat voluptas ducimus facere! Qui at
            repudiandae facere, maxime sapiente provident ipsum doloribus hic obcaecati natus consectetur commodi in vel
            voluptatum totam architecto laboriosam, rem necessitatibus? Vel, doloribus nulla. Neque nostrum, architecto
            deleniti excepturi, esse vero error eius aut adipisci quibusdam omnis distinctio consequatur, voluptates in.
            Necessitatibus enim voluptas facere labore at voluptatem, delectus repellat eos debitis voluptatum fugit
            itaque
            a amet, tempora quidem mollitia culpa porro. Debitis omnis voluptates ipsa vel quod fugit eos eveniet
            recusandae
            laudantium incidunt quae, vero qui modi sit. Quo perferendis nulla voluptate, quasi qui quibusdam? Tenetur
            enim
            maxime ad fugit blanditiis magnam possimus eos aperiam harum fugiat nisi nesciunt assumenda sunt ducimus,
            labore
            aspernatur ipsa facere dolor laudantium. Sint, in. Ullam ipsa quia aliquid saepe, fugiat at quod dicta
            veniam
            ea, deserunt ipsum delectus cum harum incidunt dolorum nobis aspernatur laudantium culpa, fugit rerum. Ipsa
            repudiandae fugit illo ipsum rem expedita aliquid recusandae blanditiis quis. Quos non expedita repellat
            odio
            rerum deleniti iure. Numquam culpa, quas rerum perspiciatis voluptatum odit, recusandae aspernatur ab
            doloribus
            nobis eum sunt. Nulla vel esse voluptate ipsum quisquam minima distinctio. Tempora, animi in beatae sapiente
            perferendis vitae culpa dignissimos eos fugiat aspernatur tempore, veritatis necessitatibus deserunt
            quibusdam!
            Quod a, optio et deleniti excepturi quaerat cum dignissimos dolore dolorem aliquam fuga dolorum, aperiam
            odio,
            aut facilis ducimus debitis commodi asperiores labore quasi reiciendis. Ipsum culpa nemo assumenda fugit
            repellat quos, maiores sed ducimus aliquam.</p>
    </section>

</div>