    {% if page == 'aboutshop' %}

                {% include 'aboutshop.tmpl' %}

    {% elseif page == 'authorization' %}

                {% include 'authorization.tmpl' %}       
                              
    {% elseif page == 'entry' %}

                {% include 'entry.tmpl' %}      

    {% elseif page == 'personalarea' %}

                {% include 'personalarea.tmpl' %}    
                                               
   {% endif %} 

