<div class="contMain">
    <div class="contProduct">
        <img src="{{data.link}}" alt='img' class='imgProduct'>
        <h3 class="nameProduct"> {{data.name}} </h3>
        <span class='priceProduct'> {{data.price}} </span>
        <p class="textProduct"> {{data.text}} </p>
        <button class="btnAddToCart"> Добавить в корзину </button>
    </div>

    <script>
        document.querySelector('.btnAddToCart').addEventListener('click', function () {
            let params = new FormData();
        /*     params.append('id_product', '{{data.id}}') */
            params.append('id_user', "<?= $_SESSION['id_user'] ? $_SESSION['id_user'] : $_SESSION['id_user'] = 'new_user' ?>")
            params.append('oper', 'add')
            fetch('./Cart/server.php', {
                method: 'post',
                body: params
            })
                .then(data => data.json())
                .then((data) => {
                    if (data.res == "add") {
                        document.querySelector('.countCart').innerHTML = data.allQuant
                    }

                })
        })
    </script>
</div>