<section class="orders">
    <h3> История ваших заказов</h3>
    <ul class="orders__title">
        <li class="title__data">Дата заказа</li>
        <li class="title__sum">Сумма заказа</li>
        <li class="title__status">Статус заказа</li>
        <li class="title">Посмотреть заказ</li>
    </ul>

    {% for order in orders %}
    <ul class="orders__ord">
        <li class="ord__data">{{order.date}}</li>
        <li class="ord__sum">$ {{order.allSum}}</li>
        <li class="ord__status">{{order.status}}</li>
        <li class="ord__button" data-id="{{order.id}}">Посмотреть заказ</li>
    </ul>
    <div class="show_order" data-id ="{{order.id}}" >

        {% for good in order.goods %}
        <div class="good">
            <div class="img"><img src="{{good.linkImg}}" alt="{{good.name}}"></div>
            <span class="name">{{good.name}}</span>
            <span class="quant">{{good.quant}} шт </span>
            <span class="price">$ {{good.price * good.quant}}</span>
        </div>
        {% endfor %}

    </div>
    {% endfor %}


</section>
<script src="./src/js/personalarea.js"></script>