<div class="contMain">

    <div class="persArea">

        <h2 class="persArea__h2"> Личный кабинет </h2>

        {% if  template  == "show" %}
        {% include 'showpersonaldata.tmpl' %}
        {% else %}
        {% include 'editpersonaldata.tmpl' %}
        {% endif %}
        {% include 'orders.tmpl' %}
    </div>

</div>