<form class='userData' method="POST">
    <h3>Личные данные</h3>
    <label class="userData__label">
        <span class="userData__title">Логин:</span>
        <span class="userData__value"> {{ data.login_pa }} </span>
    </label>
    <label class="userData__label">
        <span class="userData__title">Имя:</span>
        <span class="userData__value">{{ data.name_pa }}</span>
    </label>
    <label class="userData__label">
        <span class="userData__title">E-mail:</span>
        <span class="userData__value">{{ data.email_pa }} </span>
    </label>
    <label class="userData__label">
        <span class="userData__title">Телефон:</span>
        <span class="userData__value">{{ data.phone_pa }} </span>
    </label>
    <button type="submit" class="userData__btnEdit" name="persAreaEdit"> Редактировть </button>
</form>