.orderSend {
    display: flex;
    margin: auto;
    width: 40%;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: rgb(241, 233, 118);
}